<h4>Agregar personaje</h4>
<form action="" class="row" (ngSubmit)="emitCharacter()" >
  <input
    type="text"
    name="name"
    id=""
    class="form-control mb-2"
    placeholder="Nombre"
    [(ngModel)]="character.name"
  />
  <input
    type="number"
    name="power"
    id=""
    class="form-control mb-2"
    placeholder="Poder"
    [(ngModel)]="character.power"
  />
  <button  class="btn btn-primary" type="submit">Agregar</button>

  <!-- <pre>
    {{character | json}}
  </pre> -->
</form>
